{% extends 'base.html' %}

{% block content %}
    <h1>Search Form</h1>
    <form action="/assignment9" method="get">
        Enter the user's name : <input name="user_name" type="text" >
    <input type="submit" value="search">
    </form>
    </br>
    {% if user %}
        <h3> This is the user you searched for:</h3>
        <h3>Name: {{ user.name }}</h3>
        <h3>Email: {{ user.email }}</h3>
    {% else %}
        {% if searched %}
            <h3>Not Found</h3>
        {% else %}
            <h3>Users:</h3>
            {% for u in dic_users %}
                <h2>{{ u }}</h2>
                <h3> Name: {{ dic_users[u].name }}, Email: {{ dic_users[u].email }}</h3>
            {% endfor %}
        {% endif %}
    {% endif %}
    <br>

{% endblock %}